/* Yu Han */
/* This is the CSS file to customize formatting and presentation of the student survey form */

@charset "UTF-8";

h1 {
	border:5px solid blue;
	text-align:center;
	color: blue;
	margin-right: 10px;
	margin-left: 10px;
	font-family: "Aral";
}

.surveyForm {
	border: 5px solid blue;
	padding: 5px 5px 5px 5px;
	
}

.body {
	background-color: red;
}

.options {
	color: Indigo;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
}

input[type=text],[type=email],[type=date],[type=number]{
  width: 25%;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  padding: 10px 10px 10px 5px;
  background: #f1f1f1;
}

.div {
	display: block;
}

button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 5px;
}

.questionHeading {
	color: DarkCyan;
}
